<div class="row">
  <div class="col-md-12">
    <div class="product-description card">
      <div class="card-header">
        商品描述
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= @product.description %></p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="carousel-warpper">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner carousel-inner--black">
        <% if @product.pictures.attached? %>
          <% @product.pictures.each_with_index do |picture, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= image_tag(picture.variant(resize: '600x600'), class: "d-block")%>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>

  <div class="col-md-6">
    <%= react_component("Chat", { current_user: current_user, product: @chat_room.product, chat_room: @chat_room }) %>
    <audio src="/sounds/inquisitiveness.mp3" autostart="false" width="0" height="0" id="msgSound" />
  </div>

</div>

<script>
  $('.carousel').carousel({
      interval: false
  })
</script>
