<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">準備好了，現在就開始買賣!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-6 mx-auto">
              <%= link_to "立即瀏覽", products_path, class: "btn btn-block btn-lg btn-primary"%>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
