<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">聽聽大家怎麼說...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-1.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>D 小姐</h5>
          <p class="font-weight-light mb-0">沒想到在這裡交流物品好方便啊！</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-2.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>陳 先生</h5>
          <p class="font-weight-light mb-0">在這裡與車友交流 , 終於不會被親戚朋友嘴</p>
          <p class="font-weight-light mb-0">感恩平台!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-3.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>林先生</h5>
          <p class="font-weight-light mb-0">終於不用再加一堆雜七雜八的社團了！</p>
        </div>
      </div>
    </div>
  </div>
</section>
