<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-bg-1"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>關注商品不在被打擾</h2>
        <p class="lead mb-0">買東西還要被朋友酸東酸西靠北死了</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img showcase-bg-2"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>一個商品不需到處發佈</h2>
        <p class="lead mb-0">賣個物品要每個社團都發佈，還有各種平台，常常東西賣出半年之後還有人來詢問。</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img showcase-bg-3"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>更簡單的交流物品</h2>
        <p class="lead mb-0">不想買，也不想賣，就是想找人交流物品，拆裝各半！</p>
      </div>
    </div>
  </div>
</section>
