<header class="masthead text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="text-white mb-2">一個地方就能夠找到想要的機車改裝品</h1>
        <p class="text-white mb-3">這裡將成為你最常逛的機車零件市集</p>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="form-row">
            <div class="col-12 col-md-6 mx-auto">
              <%= link_to "立即瀏覽", products_path, class: "btn btn-block btn-lg btn-primary"%>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>

