<section class="site-about bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>重新建立起更好的交易環境</h3>
          <p class="lead mb-0">
            其實還沒想到要寫什麼，反正就做著玩唄！
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
