<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">聽聽其他人怎麼說...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-1.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>A 小姐</h5>
          <p class="font-weight-light mb-0">在這裡好多人按我讚</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-2.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>B 先生</h5>
          <p class="font-weight-light mb-0">要修上次摔爆的車，無奈新品太貴，在這裡竟然找到超便宜二手精品，力馬裝上去了，感謝平台！</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <%= image_tag("testimonials-3.jpg", class: "img-fluid rounded-circle mb-3") %>
          <h5>C 小姐</h5>
          <p class="font-weight-light mb-0">太棒了，在這裡買到我找好久的避震器！</p>
        </div>
      </div>
    </div>
  </div>
</section>
