/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require dropzone
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap";
@import "toastr";
@import "font-awesome";
@import "bootstrap-social";

@import "landing-page";
@import "chat";

.carousel-inner img {
  margin: auto;
}

.carousel-inner {
  &--black {
    background-color: black;
  }
}

.unread-badge {
  position: absolute;
  top: -1px;
  left: 17px;
  color: #fff;
  background: #F03A39;
  transform: scale(0.7);
  border-radius: 16px;
  padding: 0 6px;
  font-size: 12px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.mini-img {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.product-form-dropzone-target {
    border: 2px dashed #dddfe2;
    height: 120px;
    width: 120px;
    position: relative;
    display: inline-block;
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    cursor: pointer;

    &--plus-symbol {
      position: absolute;
      top: 40%;
      left: 40%;
    }
}

.navbar-avatar {
  border-radius: 15px;
  height: 28px;
  width: 28px;
}

.product-image {
  border-radius: 20px;
}

.moto-category-container {
  margin-bottom: 15px;

  .moto-category {
    display: inline-block;
    background-color: #DADADA;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 3px 1px 3px;
  }
}

#dropzonePreview {
  .dz-preview {
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
  }
}

.vip-border {
  border: 3px solid #ffc10794;
}


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.image-block-circle {
	width: 100px; height: 100px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	margin: 15px;
	border-radius: 100%;
	float: left;
	.image-block {
		width: 90px;
		height: 90px;
		border-radius: 100%;
		position: absolute;
		top: 5px;
		left: 5px;

		i {
			color: #ccc;
			font-size: 90px;
		}

		img {
		    width: 100%;
		    height: 100%;
		    border-radius: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		}

		.preview {
			display: none;
			&.uploaded {
				display: inline-block;
			}
		}
	}
}
