/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require dropzone
 */

@import "bootstrap";
@import "toastr";
@import "font-awesome";

@import "landing-page";
@import "chat";

.carousel-inner img {
  margin: auto;
}

.carousel-inner {
  &--black {
    background-color: black;
  }
}

.unread-badge {
  position: absolute;
  top: -1px;
  left: 17px;
  color: #fff;
  background: #F03A39;
  transform: scale(0.7);
  border-radius: 16px;
  padding: 0 6px;
  font-size: 12px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.mini-img {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

.product-form-dropzone-target {
    border: 2px dashed #dddfe2;
    height: 120px;
    width: 120px;
    position: relative;
    display: inline-block;
    margin: 16px;
    cursor: pointer;

    &--plus-symbol {
      position: absolute;
      top: 40%;
      left: 40%;
    }
}
