
.masthead {
  display: block;
  background: linear-gradient(rgba(12,12,9,0.4), rgba(12,12,9,0.4));
  background-image: image-url("moto.png");
  background-position: center 80%;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  .masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .showcase {
    .showcase-text {
      padding: 7rem;
    }
  }
}

.showcase {
  &-img {
    min-height: 30rem;
    background-size: cover;
  }

  &-bg-1 {
    background-image: image-url("showcase-1.jpg");
  }

  &-bg-2 {
    background-image: image-url("showcase-2.jpg");
  }

  &-bg-3 {
    background-image: image-url("showcase-3.jpg");
  }

  .showcase-text {
    padding: 3rem;
  }
}

