<div class="row">


<% @products.each do |product| %>
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5><%= product.title %></h5>
      </div>

      <% if product.product_attachments.present? %>
          <%= link_to product_path(product) do %>
            <%= image_tag(product.product_attachments.first.image.url, class: "card-img-top") %>
          <% end %>
      <% end %>
      <div class="card-body">
        <p class="card-text"><%= product.description %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
