<div class="row">
  <div class="col-md-6">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% if @product.attachments.present? %>
          <% @product.attachments.each_with_index do |attachment, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= image_tag(attachment.image.medium.url, class: "d-block w-100 img-responsive")%>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <% if !@product.owner?(current_user) %>
    <div class="col-md-6">
      <%= link_to "馬上私訊", find_or_create_chat_room_product_path(@product), class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>



<script>
  $('.carousel').carousel({
      interval: false
  })
</script>
